extends layout
block content
  #content
    // Закладки
    #bookmarks.container
      // С классом bm-none нет закладок
      article#my-bookmarks
        section#breadcrumbs
          a(href='#') Поиск
          span >
          a(href='#') Результаты поиска
          span >
          a.active(href='#') Закладки
        section#bm-header
          h2 Мои закладки
        section#bm-items
          section.bm-item
            .bm-item-img
              a(href='object.html')
                img(src='images/search/result-big.png')
            .bm-item-desc
              h3
                a(href='object.html') Офис № 241, 2 этаж, вид на сад копия 3
              section
                .bm-item-price
                  p
                    | Цена за м
                    sup 2
                    | : 
                    span 2000 р.
                .bm-item-square
                  p
                    | Площадь: 
                    span
                      | 50 м
                      sup 2
            a.bm-delete(href='#')
          section.bm-item
            .bm-item-img
              a(href='object.html')
                img(src='images/search/result-big.png')
            .bm-item-desc
              h3
                a(href='object.html') Офис № 241, 2 этаж, вид на сад копия 3
              section
                .bm-item-price
                  p
                    | Цена за м
                    sup 2
                    | : 
                    span 2000 р.
                .bm-item-square
                  p
                    | Площадь: 
                    span
                      | 50 м
                      sup 2
            a.bm-delete(href='#')
          section.bm-item
            .bm-item-img
              a(href='object.html')
                img(src='images/search/result-big.png')
            .bm-item-desc
              h3
                a(href='object.html') Офис № 241, 2 этаж, вид на сад копия 3
              section
                .bm-item-price
                  p
                    | Цена за м
                    sup 2
                    | : 
                    span 2000 р.
                .bm-item-square
                  p
                    | Площадь: 
                    span
                      | 50 м
                      sup 2
            a.bm-delete(href='#')
          section.bm-item
            .bm-item-img
              a(href='object.html')
                img(src='images/search/result-big.png')
            .bm-item-desc
              h3
                a(href='object.html') Офис № 241, 2 этаж, вид на сад копия 3
              section
                .bm-item-price
                  p
                    | Цена за м
                    sup 2
                    | : 
                    span 2000 р.
                .bm-item-square
                  p
                    | Площадь: 
                    span
                      | 50 м
                      sup 2
            a.bm-delete(href='#')
        section.bm-none
          div
            h2 Закладок нет
            a(href='search.html') Перейти к списку
      // Рекомендуемые
      article#recomended
        section#best-offer
          h2 Лучшее предложение
          article
            a(href='#')
              .result-img
                img(src='images/search/result-img.png')
              .result-desc
                h4 Офис № 241
                p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                section
                  .result-price
                    p
                      | Цена за м
                      sup 2
                      | : 
                      br
                      span 2000 р.
                  .result-square
                    p
                      | Площадь: 
                      br
                      span
                        | 50 м
                        sup 2
        section#recomended-items
          h2 Рекомендуемые
          section
            article
              a(href='#')
                .result-img
                  img(src='images/search/result-img.png')
                .result-desc
                  h4 Офис № 241
                  p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                  section
                    .result-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        br
                        span 2000 р.
                    .result-square
                      p
                        | Площадь: 
                        br
                        span
                          | 50 м
                          sup 2
            article
              a(href='#')
                .result-img
                  img(src='images/search/result-img.png')
                .result-desc
                  h4 Офис № 241 Офис № 241 Офис № 241
                  p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                  section
                    .result-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        br
                        span 2000 р.
                    .result-square
                      p
                        | Площадь: 
                        br
                        span
                          | 50 м
                          sup 2
            article
              a(href='#')
                .result-img
                  img(src='images/search/result-img.png')
                .result-desc
                  h4 Офис № 241
                  p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                  section
                    .result-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        br
                        span 2000 р.
                    .result-square
                      p
                        | Площадь: 
                        br
                        span
                          | 50 м
                          sup 2
            article
              a(href='#')
                .result-img
                  img(src='images/search/result-img.png')
                .result-desc
                  h4 Офис № 241
                  p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                  section
                    .result-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        br
                        span 2000 р.
                    .result-square
                      p
                        | Площадь: 
                        br
                        span
                          | 50 м
                          sup 2
            article
              a(href='#')
                .result-img
                  img(src='images/search/result-img.png')
                .result-desc
                  h4 Офис № 241
                  p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                  section
                    .result-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        br
                        span 2000 р.
                    .result-square
                      p
                        | Площадь: 
                        br
                        span
                          | 50 м
                          sup 2
            article
              a(href='#')
                .result-img
                  img(src='images/search/result-img.png')
                .result-desc
                  h4 Офис № 241
                  p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                  section
                    .result-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        br
                        span 2000 р.
                    .result-square
                      p
                        | Площадь: 
                        br
                        span
                          | 50 м
                          sup 2
            article
              a(href='#')
                .result-img
                  img(src='images/search/result-img.png')
                .result-desc
                  h4 Офис № 241
                  p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                  section
                    .result-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        br
                        span 2000 р.
                    .result-square
                      p
                        | Площадь: 
                        br
                        span
                          | 50 м
                          sup 2
          a.more(href='#') Больше рекомендаций
