extends layout
block content
  #content
    .container
      hr
      .panel.panel-primary
        .panel-heading Подтверждение регистрации
        .panel-body
          p.lead= mes
          hr
          a.btn.btn-success(href="/") На главную
          
