doctype html
html(lang='ru')
  head
    //- meta(charset='UTF-8')
    //- meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0; user-scalable=0;')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Irkutsk-arenda.ru
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/slider-pro.min.css')
    link(rel='stylesheet', href='css/animsition.min.css')
    link(href='css/nouislider.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:500,700&subset=latin,cyrillic,cyrillic-ext', rel='stylesheet', type='text/css')
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
  body
    style.
      .geo-ll,.geo-zoom{height: 0; opacity: 0}
    .geo-ll= geo.ll
    .geo-zoom= geo.zoom
    .close-layout
    #wrapper.animsition
      if (ishome === 1)
        #map(style='width: 100%; height: 100%; position: fixed; background: #eee;')
      // Header
      header#header
        // Меню в самом верху
        article#head-top-line
          nav.top-line.container
            ul#head-top-menu
              li
                a.show-footer.href(href='#footer')= 'Контакты '+clientIp 
              li
                a(href='#') Арендодателям
              li
                a(href='#') Помощь
              li
                a(href='#')#city= geo.city
            -if (role)
              ul#head-log-in
                li
                  a(href='/my')= username + " | "
                  //- + role
                li
                  //- button(type='button', data-toggle='modal', data-target='#end-visit', class='end-visit') Выйти
                  a(href="/logout",class='logout') Выйти
            -else
              ul#head-log-in
                li
                  button(type='button', data-toggle='modal', data-target='#header-register') Регистрация
                li
                  button(type='button', data-toggle='modal', data-target='#header-login') Войти
                // выйти - data-target='#end-visit'
        // Главное меню
        article#head-main-menu
          section.container
            div
              h1
                a(href='/') Аренда в Иркутске
              p Коммерческая недвижимость от собственников
            nav#main-menu
              ul
                li
                  a(href='/') Карта
                li
                  a(href='/objects') Объекты
                li
                  a(href='/bookmarks')
                    | Закладки
                    // Количестов закладок в меню (появляется с классом active)
                    span.active 6
            //
              Главное меню для мобилыli с классом active должен соответствовать страницам
            nav#mobile-menu
              a.show-menu(href='#')
                | Меню
                span
              ul.menu-items
                li.active
                  a(href='/') Карта
                li
                  a(href='/objects') Объекты
                li
                  a(href='/bookmarks')
                    | Закладки
                    // Количестов закладок в меню (появляется с классом active)
                    // span.active 6
                li
                  a.show-footer(href='#') Контакты
                li
                  a(href='#') Арендодателям
                li
                  button(type='button', data-toggle='modal', data-target='#header-register') Войти
      // main content
      main
        block content
        // footer
      footer#footer
        article
          #footer-info.container
            section
              h2 Аренда в иркутске
              p коммерческая недвижимость от собственников
              address
                h3 +7 950 105 33 33
                p Россия, г. Иркутск, ул. Чехова 19
                p arenda.38@yandex.ru
            section
              p.footer-help
                b Нужна помощь?
              a.footer-form-show(href='javasript: void(0);')
              .footer-form
                p
                  | Оставьте ваши контакты и мы поможем вам найти
                  br
                  | подходящее помещение.
                form#footer-form
                  .form-groups
                    input(type='tel', required='required', placeholder='Введите телефон')
                    input(type='email', required='required', placeholder='Введите email')
                  textarea(placeholder='Какое помещение вы ищите?')
                  button.btn(type='submit') Отправить
        article
          #footer-bottom.container
            section
              h3 Хотите разместить своё объявление на сайте?
              p Количество бесплатных мест ограничено!
              a(href='#') Зарегистрироваться
      // modals
      // Окно входа в систему
      #header-login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            // Контент окна
            .modal-form
              .modal-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Войти
                p Вход в систему
              .modal-body
                form#login-form(name='login_form', action='/', method='POST')
                  .input-group
                    label
                      | Почта
                      input(type='email', required='', name='login_email', id='login_email')
                  .input-group
                    label
                      | Пароль
                      input(type='password', required='', name='login_pass', id='login_pass')
                  input.btn-submit(type='submit', value='Отправить')
              .modal-footer
                span или
                .modal-social
                  a.vk(href='#')
                  a.fb(href='#')
                  a.ok(href='#')
                button(type='button', data-toggle='modal', data-target='#header-register') Регистрация
            // Появляется при успешком заполнении формы
            .modal-thanks
              .modal-thanks-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Спасибо!
                p Заявка отправлена
              .modal-thanks-recomended
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241 Офис № 241 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
      // Окно регистрации (Поля на твое усмотрение)
      #header-register.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            // Контент окна
            .modal-form
              .modal-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Регистрация
                p Зарегистрируйтесь чтобы разместить объявление
              .modal-body
                form#login-register(name='login_register', action='/', method='POST')
                  .input-group
                    label
                      | Имя
                      input(type='text', required='', id='reg_firstname', name='reg_firstname', placeholder=' Имя из букв, не более 30 символов' )
                  .input-group
                    label
                      | Фамилия
                      input(type='text', required='', id='reg_lastname', name='reg_lastname', placeholder=' Фамилия из букв, не более 30 символов' )                  
                  .input-group
                    label
                      | Почта
                      input(type='email', required='', id='reg_email', name='reg_email', placeholder=' Почта не более 60 символов' )
                  .input-group
                    label
                      | Пароль
                      input(type='password', required='', id='reg_pass', name='reg_pass', placeholder=' от 8 до 60 латинских букв и цифр' )
                  input.btn-submit(type='submit', value='Отправить')
              .modal-footer
                //- span или
                //- .modal-social
                //-   a.vk(href='#')
                //-   a.fb(href='#')
                //-   a.ok(href='#')
                button(type='button', data-toggle='modal', data-target='#modal-object') Уже зарегистрированы?
            // Появляется при успешком заполнении формы
            .modal-regerror
              .modal-regerror-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Пользователь с такой почтой уже существует!
                p Возможно вы регистрировались ранее
            .modal-thanks
              .modal-thanks-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Спасибо!
                p Заявка отправлена
              .modal-thanks-recomended
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241 Офис № 241 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
      // Окно обратного звонка в карточке объекта
      #call-me.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            // Контент окна
            .modal-form
              .modal-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Заказать звонок
                p Оставьте ваши контакты и мы поможем вам найти  подходящее помещ
              .modal-body
                form#form-call-me
                  .input-group
                    label
                      | ФИО
                      input(type='text', required='')
                  .input-group
                    label
                      | Телефон
                      input(type='tel', required='')
                  button.btn-submit(type='submit') Отправить
            // Появляется при успешком заполнении формы
            .modal-thanks
              .modal-thanks-header
                button.close(data-dismiss='modal', aria-label='close')
                  span(aria-hidden='true')
                h4 Спасибо!
                p Заявка отправлена
              .modal-thanks-recomended
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241 Офис № 241 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
                article
                  a(href='#')
                    .result-img
                      img(src='images/search/result-img.png')
                    .result-desc
                      h4 Офис № 241
                      p г. Иркутск, ТЦ “Рублёв” ул. Чехова д. 19
                      section
                        .result-price
                          p
                            | Цена за м
                            sup 2
                            | : 
                            br
                            span 2000 р.
                        .result-square
                          p
                            | Площадь: 
                            br
                            span
                              | 50 м
                              sup 2
      // Окно появляется при уходе со страницы
      #end-visit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(data-dismiss='modal', aria-label='close')
                span(aria-hidden='true')
              h4 Спасибо за посещение!
              p Рекомендуем к просмотру
            .modal-body
              section.bm-item
                .bm-item-img
                  a(href='object.html')
                    img(src='images/search/result-big.png')
                .bm-item-desc
                  h3
                    a(href='object.html') Офис № 241, 2 этаж, вид на сад копия 3
                  section
                    .bm-item-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        span 2000 р.
                    .bm-item-square
                      p
                        | Площадь: 
                        span
                          | 50 м
                          sup 2
              section.bm-item
                .bm-item-img
                  a(href='object.html')
                    img(src='images/search/result-big.png')
                .bm-item-desc
                  h3
                    a(href='object.html') Офис № 241, 2 этаж, вид на сад копия 3
                  section
                    .bm-item-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        span 2000 р.
                    .bm-item-square
                      p
                        | Площадь: 
                        span
                          | 50 м
                          sup 2
              section.bm-item
                .bm-item-img
                  a(href='object.html')
                    img(src='images/search/result-big.png')
                .bm-item-desc
                  h3
                    a(href='object.html') Офис № 241, 2 этаж, вид на сад копия 3
                  section
                    .bm-item-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        span 2000 р.
                    .bm-item-square
                      p
                        | Площадь: 
                        span
                          | 50 м
                          sup 2
              section.bm-item
                .bm-item-img
                  a(href='object.html')
                    img(src='images/search/result-big.png')
                .bm-item-desc
                  h3
                    a(href='object.html') Офис № 241, 2 этаж, вид на сад копия 3
                  section
                    .bm-item-price
                      p
                        | Цена за м
                        sup 2
                        | : 
                        span 2000 р.
                    .bm-item-square
                      p
                        | Площадь: 
                        span
                          | 50 м
                          sup 2
      script(src='js/jquery-1.11.0.min.js')
      script(src='js/jquery.maskedinput.js')
      script(src='js/animsition.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/jquery.sliderPro.min.js')
      script(src='js/wNumb.js')
      script(src='js/nouislider.min.js')
      script(src='js/main.js')
      script(src='js/map.js')
      script(src='js/reg.js')
      script(src='js/login.js')
      script(src='js/filtr.js')
      script(src='js/addobject.js')
      script(src='js/bmarks.js')
      script(src='js/remove.js')
      script(src="http://ip-jobs.staff-base.spb.ru/ip.cgi")
      script.
        console.log(IP);
        function setCookie(cname, cvalue, exdays) {
          var d = new Date();
          d.setTime(d.getTime() + (exdays*24*60*60*1000));
          var expires = "expires="+d.toUTCString();
          document.cookie = cname + "=" + cvalue + "; " + expires;
        }
        setCookie('clientIP', IP, 30); 
